{
  "listen_port": 3000,
  "oauth_credentials": {
    "consumer_key": "Twitter",
    "consumer_secret": "API",
    "access_token_key": "keys",
    "access_token_secret": "go here"
  },
  "follow": [
    15042107
  ],
  "track": [
    "NeutralZonedk"
  ]
}
