body {
    background-color: white;
    font-family: sans-serif;
}

a img {
    border: 0;
}

header,
.tweets,
.loadmore,
footer {
    margin: 0 auto;
    max-width: 890px;
}

header img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    clear: both;
}

.tweets {
    padding: 0;
}

.tweets li {
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 5px 0;
    border: 1px solid lightgray;
    border-radius: 3px;
}

li:hover .username,
li:hover .time,
li:hover .retweet a,
li:hover .actions a {
    opacity: 1;
}

a,
.loadmore {
    color: navy;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: darkslateblue;
}

.username,
.time,
.retweet a,
.action {
    color: gray;
    font-size: 0.9em;
    opacity: 0.5;
    transition: opacity .25s;
}

.profile-pic {
    position: absolute;
    top: 10px;
    left: 10px;
}

.tweet {
    margin: 10px 10px 10px 70px;
}

.real-name {
    font-weight: 700;
}

.username {
    margin-left: 10px;
}

.time {
    float: right;
    margin: 10px;
    font-style: italic;
}

.text {
    margin: 5px 0;
    line-height: 1.3;
}

.retweeted {
    color: lightgray;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.retweet a {
    font-size: 1em;
}

.actions {
    color: lightgray;
    font-size: 0.9em;
}

.action {
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding: 4px 0 0 18px;
}

.reply {
    background-image: url("images/reply.png");
}

.retweet {
    background-image: url("images/retweet.png");
    background-position: 0 3px;
}

.favorite {
    background-image: url("images/favorite.png");
}

.loadmore {
    border: 1px solid lightgray;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;
    padding: 5px 0;
    text-align: center;
}

.loadmore:hover {
    background-color: #EEE;
}

.nomoretweetsavailable {
    color: black;
    cursor: default;
}

.nomoretweetsavailable:hover {
    background-color: white;
}
